body{
    background-image: url("images/Space.jpg");
background-attachment:fixed;
background-size: cover;
color: azure;}
div{
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    align-items: center;
}

#POW{
    font-size: 75px;
    font-family: poppins;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 150px;
    font-family: poppins;
}

button{
    font-family: poppins;
    outline: none;
    border: none;
    width: 150px;
    height: 60px;
    background-color: rgb(0, 132, 255);
    border-radius: 50px;
    color: azure;
    font-size: 20px;
}